header {
    background-color: #E3350D;
    padding: 0.5rem 0;
}

header .logo {
    font-size: 1.5rem;
}

header a {
    color: white;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}
